#header-bar{
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(112, 112, 112);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    color: rgb(216, 216, 216);
    user-select: none;   
    -webkit-app-region: drag;
}
#header-icon{
    margin: 2px;
    width: 15px;
    height: 15px;
}
#header-actions{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 20px;
    padding: 0px;
}
#header-actions a{
    cursor: pointer;
    display: block;
    -webkit-app-region: no-drag;
    color: rgb(241, 139, 241);
}
#header-actions a:hover{
    background-color: rgb(54, 54, 54);
}
#header-actions li{
    margin: 2px;
    font-family: sans-serif;
}
#header-name{
    font-family: sans-serif;
}
#header-close{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(179, 179, 179);
    cursor: pointer;
    font-size: 15px;
    -webkit-app-region: no-drag;
}
#header-close:focus{
    outline: none;
}
