*{
    padding: 0;
    margin: 0;
}

#status{
    display: none;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(175, 174, 174);
}
#status h1{
    font-size: 80px;
}

header {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(179, 179, 179);
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
}
header button:hover{
    color: white;
}

#settings:focus {
    outline: none;
}

#add-app:focus{
    outline: none;
}
#app-list{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.exec-app{
    width: 100px;
    height: 100px;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-family: sans-serif;
    color: pink;
    display: flex;
}
.exec-app p{
    position: relative;
    width: min-content;
    height: min-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}