*{
    padding: 0;
    margin: 0;
}
h1{
    padding: 5px;
    color: rgb(209, 209, 209);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#status{
    display: none;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(175, 174, 174);
}
#status h1{
    font-size: 80px;
}
#add-app{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(179, 179, 179);
    cursor: pointer;
    font-size: 30px;
}
#add-app:focus{
    outline: none;
}